// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";

.special {
    &-title {
        color: $black;
    }
    &-card-footer {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        background-color: $white;

        & > * + * {
            margin-left: 5px;
        }
    }
    &-link-lg {
        font-size: 1em;
        padding-left: 0;
        padding-right: 0;
    }
    &-price {
        color: $red
    }
    &-list {
        //list-style: none;
        padding-left: 15px;
    }
}

.card {
    &-list {}
    &-item {
        margin-left: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
    }
}

.list-group-item.current-user.disabled,
.list-group-item.current-user:disabled {
    background-color: $body-bg !important;
}

.table tbody {
    background-color: $white;
}
